.container{
    display: flex;
}
.discover-container{
    padding: 30px;
    background-color: #d6ced1;
    background-size: cover;
}
.search-element{
    border-radius: 15px;
    border: 1px solid #d6ced1;
    background-color: #f0ebed;
    width: 50%;
    padding: 10px;
}

.search-bar-container {
    border-radius: 15px;
    border: 1px solid #d6ced1;
    background-color: #f0ebed;
    padding: 10px;
    font-size: 15px;
    color: #474747;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

.image-container{
    background-image: url("https://previews.123rf.com/images/mkmakingphotos/mkmakingphotos1708/mkmakingphotos170800010/85877462-blurred-background-silhouette-eiffel-tower-in-paris-with-defocus-bokeh-and-sunset-light.jpg");
    background-size: cover;
    padding-bottom: 20px;
    height: 45vh;
    width: 70vw;
    border-radius: 25px;
    display: flex;
}
.image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 15px;
}
.character-main-container{
    display: flex;
}
.heading-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.discover-paragraph{
    font-size: 15px;
    color: #474747;
    padding-left: 30px;
}
.discover-heading{
    font-size: 25px;
    color: #ffffff;
    padding-left: 30px;
}
.character-container{
    background-color: #fafafa;
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 20px;
}
.character-name{
    font-size: 20px;
}
.profile-container{
    display: flex;
}
.try-these-container{
    display: flex;
    flex-wrap:wrap;
}
.practice-container{
    background-color: #fafafa;
    height: 80px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    margin: 10px;
}
.practice-heading{
    font-size: 15px;
    color: #484a48;
    margin-bottom: 0px;
}
.practice-paragraph{
    font-size: 15px;
    color: #999494;
    margin-top: 0px;
}

.featured-container{
    display: flex;
    align-items: center;
}
.square-image{
    height: 100px;
    width: 70px;
    border-radius: 10px;;
}
.work-container{
    background-color: #fafafa;
    height: 150px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.practice-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    margin: 0px;
}
.buttons-container{
    margin: 20px;
}
.fst-button{
    background-color: #222222;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    border: 0px;
}
.character-description{
    color: #999494;
    margin-left: 10px;
}
.buttons{
    background-color: #fafafa;
    color: #999494;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    border: 0px;
}
.try-saying{
    display: flex;
}
.try-saying-container{
    background-color: #fafafa;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
}
.para-container{
    background-color: #f2e6e6;
    height: 20px;
    width: 100%;
    margin: 10px;
}

.routes-container{
    color: #999494;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.paragraph{
    margin: 10px;
}